body {
  max-width: fit-content(100%);
  color: rgba(255, 5, 222, 0.986);
  font-size: 50px;
  text-align: center;
  font-style: bold;
}
table {
  text-align: center;
  font-size: 50px;
  display: block;
  overflow-x: auto;
}
td {
  position: sticky;
  border: 1px solid black;
}
#tablero {
  display: inline;
  border-collapse: collapse;
}
.casillero {
  width: 70px;
  height: 70px;
}
.pieza {
  display: none;
}
#mouse {
    margin-left: 15px;
    margin-top: 15px;
  background: none;
  position: absolute;
  display: block;
  opacity: 1;
  text-align: left;

}
.hovered{
    background:lime;
}
#hovered{
    background:lime;
}
.reglas{
    margin-bottom: 10px;
  color: black;
  font-size: 20px;
}
